h1{
    cursor: pointer;
    color: rgb(255, 153, 0);
    font-size: 48px;
}
p{
    white-space: unset;
    color: rgb(255, 153, 0);
    font-size: 25px;
    
}
header{
    width: 100%;

    
    
    
    

    
    
    


;
}
body{
    width: 100%;
    background:whitesmoke ;
    background-image: url(https://i.imgur.com/U8bSjj5.jpg);
    position: fixed;
    background-size: 100%
    
}
img{margin: 1% 0%;}
a{
    color: red;
}

